<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testBle.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D430B8E12CE35DE600C7DE91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D430B8F12CE35DE800C7DE91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D430B8FB2CE35DE800C7DE91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
